@media screen and (max-width: 991px) {

    header {
        padding: 0 20px;
        .nav-link{
            font-size: 24px;
            line-height: 222%;
            padding: 0 0 11px;
        }
        .navbar {
            padding: 17px 0 15px;

            .btn-2 {
                margin-bottom: 60px;
                max-width: 295px;
                width: 100%;
                justify-content: center;
                padding: 23px 26px;
                letter-spacing: 0.5px;
            }
        }

        .navbar-nav {
            margin: 37px auto 21px;
        }
    }

    .logo {
        img {
            max-height: 36px;
          
               
        }
    }

    .navbar-toggler {
        padding: 0.25rem;
    }

    div#navbarSupportedContent {
        margin: 1px -20px 0;
        text-align: center;
        background: $bg-secondary-color;
        transform: translate(0, 16px);
    }

   
}
