@media screen and (max-width: 991px) {

header {
    .navbar{
        padding: 17px 0 15px;
        .btn-2{
            margin-bottom: 60px;
        }
    }
    .navbar-nav{
        margin:37px auto 34px;
    }
}

.logo {
    img{
    max-height: 35px;
  
}}
.navbar-toggler{
    padding: 0.25rem;
    background: url(assets/img/burger-menu.svg);

}
div#navbarSupportedContent{
    margin: 0 -15px;
    text-align: center;
    background:$bg-secondary-color;
    transform: translate(0, 15px);

}
}
