@media screen and (max-width: 991px) {


    header {
        padding: 0 20px;

        .nav-link {
            font-size: 24px;
            line-height: 222%;
            padding: 0 0 11px;
        }

        .navbar {
            padding: 17px 0 15px;

            .btn-2 {
                margin-bottom: 60px;
                max-width: 295px;
                width: 100%;
                justify-content: center;
                padding: 23px 26px;
                letter-spacing: 0.5px;
            }
        }

        .navbar-nav {
            margin: 37px auto 21px;
        }
    }

    .logo {
        img {
            max-height: 36px;


        }
    }

    .navbar-toggler {
        padding: 0.25rem;
    }

    div#navbarSupportedContent {
        margin: 1px -20px 0;
        text-align: center;
        background: $bg-secondary-color;
        transform: translate(0, 16px);
    }



    main {
        padding: 0 0;

        .first-screen {

            max-width: 100%;

            .slick-dots li {

                display: flex;
                justify-content: center;
            }


            .container {
                padding: 0 20px;
                margin: 50% 0;


            }

            &_item {
                padding: 0 20px;
                min-height: calc(100vh - 67px);
                border-radius: 0;
                margin: 0 auto;
                padding: 0;
                text-align: center;
                background-position: center;

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #04051110;
                    z-index: 1;


                }

                .container {
                    z-index: 2;
                    position: relative;
                }
            }

            &_title {
                font-size: 32px;
                padding: 0 20px;
                margin: 0 auto 10px;



                margin-bottom: 10px;
            }

            &_subtitle {

                padding: 0 30px;
                font-size: 16px;

                margin-bottom: 18px;
            }

            .request-button {
                .button-description {

                    >img {

                        margin-left: 46px;
                    }


                }
            }
        }

    }



    section {

        .container-fluid {
            padding: 56px 0 60px;
            position: relative;
            margin-top: 16px;

            h1,
            .h1 {
                font-size: 32px;
            }

            h2,
            .h2 {
                font-size: 24px;

            }

            h5,
            .h5 {
                font-size: 18px;
            }


            &::before {
                content: "";
                border-radius: 0;
                left: 0;
                right: 0;
                height: 479px;

            }

            ul.slick-dots {

                bottom: 6px;
                left: 52%;
            }

        }

        .template-title {
            margin-bottom: 45px;
        }

        .advantage-title {
            padding: 0 14px;
            font-weight: 300;
        }
    }

    #advantages-slider {
        .slick-dots {
            padding: 0;
            margin: 15px 0;
        }
    }

    .first-screen.slick-slider.slick-dotted {
        margin-bottom: 57px;
    }





    .calculation {
        .container {

            padding: 0;
        }

        .row {

            padding: 0 29px;
        }

        .calculation-form {

            margin: 45px 20px;
            padding-top: 53px;

            .padding-top {
                padding-top: 10px;

            }

            #file-name {
                margin-top: 4px;
                margin-bottom: 10px;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
            }

            .request-button {

                padding: 23px 38px 20px 35px;
                margin-bottom: 11px;


                .button-description>img,
                .btn-1 {

                    transform: translate(21px, 0px);
                }
            }
        }

        h2,
        .h2 {
            font-size: 24px;
            text-align: center;

        }

        .calculation-decoration {
            display: none;
        }

        .template-title.col-lg-7 h2::after {
            position: absolute;
            left: 50%;
            bottom: -26px;
            transform: translate(-50%, 0px);
            margin: 0;


        }
    }
}
