@media screen and (max-width: 1199px) {
}
@media screen and (max-width: 1455px) {
    .first-screen_item {
        padding: 0 92px 64px;
}
}
@media screen and (max-width: 1346px) {
    .carousel-template{
        max-width: 778px;
        margin: 0 auto;
    }
    .services {
        .carousel-template { 
            margin: 0 auto;
}}}
@media screen and (max-width: 926px) {
    .carousel-template{
    max-width: 390px;}
}