.card {
    background-color: $bg-secondary-color;
    border-radius: 20px;
    height: 482px;
    padding: 0 20px 27px;
    text-align: center;
    border: none;
    max-width: 360px;

    &-title {

        font-family: ProximaNova;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 124.5%;
        margin-bottom: 12px;

    }

    &-options {
        display: flex;
        justify-content: space-between;
        max-width: 210px;
        width: 100%;
        margin: 0 auto 8px;

        &-item {
            display: flex;
            align-items: center;

            img {
                margin-right: 8px;
                max-width: 24px;
                max-height: 24px;
            }
        }
    }

    &-price {
        margin-bottom: 19px;

        span {
            &:first-child {
                color: #A3A3A3;
                text-align: center;
                font-family: ProximaNova;
                font-size: 22px;
                font-style: normal;
                font-weight: 400;
                line-height: 124.5%;
                /* 27.39px */

            }

            &:last-child {
                color: #FFF;
                font-family: ProximaNova;
                font-size: 22px;
                font-style: normal;
                font-weight: 400;
                line-height: 124.5%;

            }

        }

        strong {
            color: #FFF;
            font-family: ProximaNova;
            font-size: 45px;
            font-style: normal;
            font-weight: 700;
            line-height: 124.5%;

        }
    }

    .btn-row {

        display: flex;
        justify-content: space-between;

        button {
            width: 153px;
            padding: 13px 10px;
            text-align: center;
            justify-content: center;

        }

    }
}


.carousel-template {
    margin: 0 -15px;

    .slide-item {
        padding: 0 15px;
    }

    .card-img-box {
        border-radius: 20px;
        overflow: hidden;
        height: 229px;
        margin: 0 -20px 27px;

        img {
            height: 100%;
            object-fit: cover;
            width: 100%;
            object-position: center;

        }
    }
    ul.slick-dots {
        bottom: -39px;
}
.slick-arrow{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

}
.slick-prev{
    left:-74px;
    z-index: 1;
    transform: translate(0, -50%) ;
    top: 47%;
}
.slick-next{
    right: -78px;
    transform: rotate(180deg);
 
}

.slick-prev:before,
.slick-next:before {
    content: "";
    background-image: url(assets/img/ar.gray1.svg);
    height: 45px;
    width: 45px;
    display: block;}
}