.delivery {
    .container {
        padding: 0;
    }

    margin: 97px 0 95px 0;

    .carousel-template {
        .card-img-box {
            border-radius: 20px 20px 0 0;
            overflow: hidden;
        }
    }

    h2 {margin-left: 9px;
        &::after {
            background-color: $secondary-color;
            position: absolute;
            left: 50%;
            bottom: 5px;
            transform: translate(-50%, 0px);
            margin: 0;

        }
    }
}
