main {
    margin: 0 auto;
    max-width: 1920px;
    padding: 0 50px;

}

.first-screen, section {
    ul.slick-dots {

        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        bottom: 70px;
        left: 50%;
        transform: translate(-50%, 0);

        li {
            margin: 0 7px;
            height: 8px;
            font-size: 0;

            &::before {
                display: none;

            }

            &.slick-active {
                button {
                    background-color: #fff;
                }
            }
        }

        button {
            font-size: 0;
            padding: 0px;
            border-radius: 50%;
            opacity: 0.9;
            border: 2px solid #fff;
            width: 8px;
            height: 8px;
            background: transparent;
            outline: none;
        }
    }

    .slick-dots li button:before {
        display: none;
    }

}
