header {
    .nav-link {
        color: #fff;
        line-height: 146%;
        font-size: 16px;
        font-weight: 400;

        &:hover {
            color: $secondary-color;
        }
    }
}

.btn-2:hover {
    background-color: $secondary-color;
}

.navbar-toggler {
    background-color: #596060;
}

.navbar {
    padding: 25px 0px 39px;
.container{
    padding: 0px;
}
    &-nav {
        
        max-width: 618px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 3px auto 0;
    }

}

.btn-2 {
   
    .button-description {
        font-size: 15px;
        line-height: 146%;
       
    }
}
