header {
    background: $bg-primary-color;

    .nav-link {
        color: #fff;
        line-height: 146%;
        font-size: 16px;
        font-weight: 400;

        &:hover {
            color: $secondary-color;
        }
    }
}

.btn-2:hover {
    background-color: $secondary-color;
}


.navbar {
    padding: 25px 0px 39px;

    .container {
        padding: 0px;
    }

    &-nav {
        max-width: 618px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 3px auto 0;
    }
}

.btn-2.request-button {

    .button-description {
        font-size: 15px;
        line-height: 146%;

    }
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    background-color: #fff;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #fff;
}

//Burger library//
.hamburger {
    
    transition-duration: 0.15s;
    padding: 0px;
}
.navbar-toggler:focus {
    box-shadow: none;}

.hamburger-box {
    width:25px;
    height: 25px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -3px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 26px;
    height: 2.5px;
  
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    bottom: -10px;
}

.hamburger--spring .hamburger-inner {
    top: 8px;
    transition: background-color 0s 0.13s linear;
}

.hamburger--spring .hamburger-inner::before {
    top: 11px;
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring .hamburger-inner::after {
    top: 22px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring.is-active .hamburger-inner {
    transition-delay: 0.22s;
    background-color: transparent !important;
}

.hamburger--spring.is-active .hamburger-inner::before {
    top: 0;
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--spring.is-active .hamburger-inner::after {
    top: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(-45deg);
}
