body {
    background: $bg-primary-color;
    color: #fff;
    font-family: "ProximaNova";
    font-weight: 300;

    *::selection {
        background: $secondary-color;
    }
}


.var-1,
.var-2,
.var-3,
.var-4 {
    height: 100px;
    width: 200px;
    border: 1px solid;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

.var-1 {
    background-color: $bg-primary-color;
}

.var-2 {
    background-color: $bg-secondary-color;
}

.var-3 {
    background-color: $primary-color;
}

.var-4 {
    background-color: $secondary-color;
}


.style {
    max-width: 400px;
    margin-left: 20px;
    margin-bottom: 40px;
    border: 4px solid #363A4D;
}

.form-check-input[type=checkbox]+label::before,
.form-check-input[type=checkbox]:checked+label::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 24px;
    height: 24px;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #282B38;
    background: url(assets/img/rectangle.svg) center no-repeat #fff;
}

.form-check-input[type=checkbox]:checked+label::before {
    background: url(assets/img/checked1.svg) center no-repeat #fff;
}

.input-box {
    position: relative;
}

.form-check-input:focus {
    box-shadow: none;
}

.form-check-input[type=checkbox] {
    margin-bottom: 14px;
}

.request-button {
    min-height: 68px;
    background-color: #E58D35;
    ;
    color: #FFF;
    border-radius: 90px;
    padding: 21px 21px 20px 33px;
}

.button-description {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0px;
}

.button-description>img,
.btn-1 {
    display: inline-block;
    margin-left: 49px;
}

.btn-1 {
    margin-left: 95px;
}

.btn-2 {
    padding: 14px 27px;
    min-height: 50px;
    min-width: 171px;
}

.btn-2-1 {
    padding: 14px 18px;
    min-height: 50px;
    min-width: 153px;
}

.btn-2-1 {
    padding: 14px 24px;
    background: #363A4D;
    border-radius: 90px;
    border: 1px solid $primary-color;
}

.btn-2-2 {
    padding: 14px 27px;
  
     min-height: 50px;
}

p {
    color: #FFF;
    font-family: 'ProximaNova';
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 170%;
}


.light {
    font-weight: 300;
}

.regular {
    font-weight: 400;
}

.semibold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #FFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 126%
}

h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 124.5%;
    /* 44.82px */
    text-transform: uppercase;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 126%;
}

h4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 146%;
}

h5 {
    font-size: 18px;
    font-weight: 700;
    line-height: 124.5%;
}

h6 {
    font-size: 18px;
    font-weight: 400;
    line-height: 124.5%;
}


.mycustom-scroll {
    max-height: 400px;
    overflow-y: scroll;
}

/* полоса прокрутки (скроллбар) */
.mycustom-scroll::-webkit-scrollbar {
    width: 8px;
}

/* ползунок скроллбара */
.mycustom-scroll::-webkit-scrollbar-thumb {
    background-color: $secondary-color;
    border-radius: 9em;
    height: 4px;
}

.mycustom-scroll::-webkit-scrollbar-thumb:hover {
    background-color: $primary-color;
}

.mycustom-scroll::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

.screen {
    margin-left: 0;
}

ol {
    counter-reset: li;

    li {
        list-style: none;

        &:not([class]):before {
            content: counter(li, demical)".";
            counter-increment: li;
            color: $secondary-color;
            margin-right: 12px;
            font-weight: 600;
            font-size: 18px;
        }
    }
}

ul {
    li {
        list-style: none;

        &:not([class]):before {
            content: " ";
            background-color: $secondary-color;
            margin-right: 12px;
            width: 6px;
            height: 6px;
            display: inline-block;
            border-radius: 50%;
        }
    }
}
