<section class="delivery">
    <div class="container">
        <div class="template-title">
            <h2>Варианты доставки грузов из Китая</h2>
        </div>
        <div class="carousel-template">
            <div class="slide-item">
                <div class="card">
                    <div class="card-img-box">
                        <img src="assets/img/delivery1.png" class="img-fluid" alt="delivery-1">
                
                    </div>
                    <h4 class="card-title">Авто - обычная</h4>
                    <div class="card-options">
                        <div class="card-options-item">
                            <img src="assets/img/calendar.svg" alt="icon-calendar">
                            
                            9-15 дней</div>
                        <div class="card-options-item">
                            <img src="assets/img/box.svg" alt="icon-box">от 5 кг</div>
                       
                    </div>
                    <div class="card-price">
                    <span>от</span>
                    <strong>2,5</strong> 
                    <span>$/кг</span>       
                   </div>
                   <div class="btn-row">
                    <button class="btn-2-2 request-button">
                        <p class="button-description">Оставить заявку</p>
                    </button>
                    <button class="btn-2-1 request-button">
                        <p class="button-description">Подробнее</p>
                    </button>
            
    
                   </div>
                </div>
            </div>
            <div class="slide-item">
                <div class="card">
                    <div class="card-img-box">
                        <img src="assets/img/delivery2.png" class="img-fluid" alt="delivery-1">
                    </div>
                    <h4 class="card-title">Авто - ускоренная</h4>
                    <div class="card-options">
                        <div class="card-options-item">
                            <img src="assets/img/calendar.svg" alt="icon-calendar">
                            9-15 дней</div>
                        <div class="card-options-item">
                            <img src="assets/img/box.svg" alt="icon-box">
                            от 5 кг</div>
                       
                    </div>
                    <div class="card-price">
                    <span>от</span>
                    <strong>2,5</strong> 
                    <span>$/кг</span>       
                   </div>
                   <div class="btn-row">
                    <button class="btn-2-2 request-button">
                        <p class="button-description">Оставить заявку</p>
                    </button>
                    <button class="btn-2-1 request-button">
                        <p class="button-description">Подробнее</p>
                    </button>
            
    
                   </div>
                </div>
            </div>
            <div class="slide-item">
                <div class="card">
                    <div class="card-img-box">
                        <img src="assets/img/delivery3.png" class="img-fluid" alt="delivery-1">
                    </div>
                    <h4 class="card-title">Авиа</h4>
                    <div class="card-options">
                        <div class="card-options-item">
                            <img src="assets/img/calendar.svg" alt="icon-calendar">
                            9-15 дней</div>
                        <div class="card-options-item">
                            <img src="assets/img/box.svg" alt="icon-box">
                            от 5 кг</div>
                       
                    </div>
                    <div class="card-price">
                    <span>от</span>
                    <strong>2,5</strong> 
                    <span>$/кг</span>       
                   </div>
                   <div class="btn-row">
                    <button class="btn-2-2 request-button">
                        <p class="button-description">Оставить заявку</p>
                    </button>
                    <button class="btn-2-1 request-button">
                        <p class="button-description">Подробнее</p>
                    </button>
            
    
                   </div>
                </div>
            </div>
            <div class="slide-item">
                <div class="card">
                    <div class="card-img-box">
                        <img src="assets/img/delivery4.png" class="img-fluid" alt="delivery-1">
                    </div>
                    <h4 class="card-title">Ж/д</h4>
                    <div class="card-options">
                        <div class="card-options-item">
                            <img src="assets/img/calendar.svg" alt="icon-calendar">
                            9-15 дней</div>
                        <div class="card-options-item">
                            <img src="assets/img/box.svg" alt="icon-box">
                            от 5 кг</div>
                       
                    </div>
                    <div class="card-price">
                    <span>от</span>
                    <strong>2,5</strong> 
                    <span>$/кг</span>       
                   </div>
                   <div class="btn-row">
                    <button class="btn-2-2 request-button">
                        <p class="button-description">Оставить заявку</p>
                    </button>
                    <button class="btn-2-1 request-button">
                        <p class="button-description">Подробнее</p>
                    </button>
            
    
                   </div>
                </div>
            </div>
            <div class="slide-item">
                <div class="card">
                    <div class="card-img-box">
                        <img src="assets/img/delivery5.png" class="img-fluid" alt="delivery-1">
                    </div>
                    <h4 class="card-title">Море</h4>
                    <div class="card-options">
                        <div class="card-options-item">
                            <img src="assets/img/calendar.svg" alt="icon-calendar">
                            9-15 дней</div>
                        <div class="card-options-item">
                            <img src="assets/img/box.svg" alt="icon-box">
                            от 5 кг</div>
                       
                    </div>
                    <div class="card-price">
                    <span>от</span>
                    <strong>2,5</strong> 
                    <span>$/кг</span>       
                   </div>
                   <div class="btn-row">
                    <button class="btn-2-2 request-button">
                        <p class="button-description">Оставить заявку</p>
                    </button>
                    <button class="btn-2-1 request-button">
                        <p class="button-description">Подробнее</p>
                    </button>
            
    
                   </div>
                </div>
            </div>
    
            
        </div>
        <div class=".carousel-template-nav">
            <button class="slick-prev"></button>
            <button class="slick-next"></button>
        </div>
    </div>
    

</section>
