<div class="first-screen">
   

        <div class="first-screen_item" style="background-image: url(assets/img/first-screen-1.png);">
            <div class="container">
                <h2 class="first-screen_title">Прямое КАРГО из Китая</h2>
                <h3 class="first-screen_subtitle">Доставляем любые грузы из Китая по честной цене</h3>
                <button class="request-button">
                    <h6 class="button-description">Расчитать стоимость
                        <img src="assets/img/arrow-circle-left 1.svg" alt="button-img">
                    </h6>
        
                </button>
            </div>
        </div>

        <div class="first-screen_item" style="background-image: url(assets/img/first-screen-3.png);">
            <div class="container">
                <h2 class="first-screen_title">Выкуп товара с ТаоБао, 1688</h2>
                <h3 class="first-screen_subtitle">Выкуп и доставка товаров с китайских торговых площадок.</h3>
                <button class="request-button">
                    <h6 class="button-description">Расчитать стоимость
                        <img src="assets/img/arrow-circle-left 1.svg" alt="button-img">
                    </h6>
        
                </button>
            </div>
        </div>
        
        <div class="first-screen_item" style="background-image: url(assets/img/first-screen-4.png);">
            <div class="container">
                <h2 class="first-screen_title">Экспресс авто доставка</h2>
                <h3 class="first-screen_subtitle">Доставляем любые грузы из Китая по честной цене</h3>
                <button class="request-button">
                    <h6 class="button-description">Расчитать стоимость
                        <img src="assets/img/arrow-circle-left 1.svg" alt="button-img">
                    </h6>
        
                </button>
            </div>
        </div>

        <div class="first-screen_item" style="background-image: url(assets/img/first-screen-2.png);">
            <div class="container">
                <h2 class="first-screen_title">Страховка груза</h2>
                <h3 class="first-screen_subtitle">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину</h3>
                <button class="request-button">
                    <h2 class="button-description">Расчитать стоимость
                        <img src="assets/img/arrow-circle-left 1.svg" alt="button-img">
                    </h2>
        
                </button>
            </div>
        </div>

</div>
<div class="first-screen-nav"></div>
